/*Целью создания данного сайта является тренировка флексбоксов и адаптивности.
*-xintru 22.07.2019
*/

body {
    min-width: 320px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    line-height: 1.25;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 239, 223);
    color: rgb(65, 82, 91);
  }
  a {
    text-decoration: none;
    color: rgb(245, 239, 223);
  
    &:active {
    color: rgb(210, 199, 171);
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  /*Хедер сайта, Выпадающее меню и анимация гиперссылок*/
  .page-header {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    background: url('img/loafs.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
  }
  
  .navigation {
    width: 200px;
    height: 400px;
    background-color: rgb(65, 82, 91);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: -350px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.4s ease-out;
  }
  #nav.visible {
    top: 0;
  }
  .navigation-list li {
    font-size: 2rem;
    margin-top: 20px;
    position: relative;
    font-family: 'Shadows Into Light', cursive;

    &:first-child {
        a {
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 65px;
                top: 55px;
                right: 20px;
                background-color: rgb(245, 239, 223);
                opacity: 0;
                transition: 0.4s ease;
                transition-property: opacity, top;
            }
            &:hover::after {
                opacity: 0.9;
                top: 35px;
            }
        }
    }

    &:nth-child(2) {
        a {
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 70px;
                top: 55px;
                right: 14px;
                background-color: rgb(245, 239, 223);
                opacity: 0;
                transition: 0.4s ease;
                transition-property: opacity, top;
            }

            &:hover::after {
                opacity: 0.9;
                top: 35px;
            }
        }
    }
    &:last-child {
        a {
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 80px;
                top: 55px;
                right: 3px;
                background-color: rgb(245, 239, 223);
                opacity: 0;
                transition: 0.4s ease;
                transition-property: opacity, top;
            }

            &:hover::after {
                opacity: 0.9;
                top: 35px;
            }
        }
    }
  }
 
  .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    
    &-instagram {
        background: url('img/Logo/instagram.png') no-repeat 50% 50%;
        background-size: contain;
    }

    &-twitter {
        background: url('img/Logo/twitter.png') no-repeat 50% 50%;
        background-size: contain;
    }
    &-facebook {
        background: url('img/Logo/facebook.png') no-repeat 50% 50%;
        background-size: contain;
    }
  }

  .slider-button {
    margin-bottom: -20px;
    width: 40px;
    height: 40px;
    background-color: white;
    background: url('img/Logo/down-arrow.png') no-repeat 50% 50%;
    background-size: contain;
    cursor: pointer;
    transition: 0.4s ease-out;

    &.reversed {
        transform: rotate(180deg);
    }
  }
  
  .bakery-name {
    color: rgb(245, 239, 223);
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    margin-left: 30px;
  }
  @media (min-width: 768px) {
    .bakery-name {
      margin-left: 0;
    }
  }
  
  /*Основной контент сайта*/
  
  .main-wrapper {
    width: 100%;
    /*width: 70%; для 1000+ */
  }
  @media (min-width: 1330px) {
    .main-wrapper {
      width: 70%;
    }
  }
  .quote-container {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;

    p {
        &:first-child {
            font-family: 'Shadows Into Light', cursive;
            font-size: 2.5rem;
        }

        &:last-child {
            font-family: 'Shadows Into Light', cursive;
            font-size: 3rem;
            margin: 0 auto;
        }
    }
  }
  
  /*2 картинки перед меню*/
  .interior-container {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .interior-left {
    width: 100%;
    min-height: 350px;
    background: url('img/interior1.jpg') no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 10px;
  }
  .interior-right {
    width: 100%;
    min-height: 350px;
    background: url('img/pretty-bread.jpg') no-repeat 50% 50%;
    background-size: contain;
  }
  @media (min-width: 768px) {
      .interior-left{
        width: 40%;
        margin-bottom: 0;
        margin-right: 20px;
      }
      .interior-right {
        width: 40%;
        margin-left: 20px;
      }
  }
  
  /*Меню*/
  
  .menu-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-wrap: wrap; для 1000+*/
    justify-content: center;
    align-content: center;

    h3 {
        font-family: 'Shadows Into Light', cursive; 
    }

    h4 {
        margin-bottom: -15px;
    }
  }
  @media (min-width: 1330px) {
    .menu-container {
      flex-wrap: wrap;
      max-height: 1800px;
    }
  }

  .menu {
    max-width: 100%;
  }
  @media (min-width: 1330px) {
    .menu {
      width: 40%;
    }
  }

  .menu-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    outline: 3px solid rgb(245, 239, 223);
    outline-offset: -8px;
    margin-bottom: 50px;
    background-color: rgb(65, 82, 91);

    &-label {
        color: rgb(245, 239, 223);
        font-family: 'Shadows Into Light', cursive;
        font-size: 3rem;
        text-decoration: underline;
    }
  }

  .menu-breakfast {
    position: relative;
    padding: 20px;
    outline: 3px solid rgb(65, 82, 91);
    outline-offset: -8px;
    order: 1;

    span {
        position: absolute;
        top: 20px;
        right: 30px;
        letter-spacing: -0.6px;
        opacity: 0.8;
        text-decoration: underline;
        font-size: 1.2rem;
    }
  }
  @media (min-width: 768px) {
    .menu-breakfast span {
      font-size: 1.5rem;
    }
  }

  .menu-lunch {
    position: relative;
    padding: 20px;
    outline: 3px solid rgb(65, 82, 91);
    outline-offset: -8px;
    order: 4;

    span {
        position: absolute;
        top: 20px;
        right: 30px;
        letter-spacing: -0.6px;
        opacity: 0.8;
        text-decoration: underline;
        font-size: 1.2rem;
    }
  }
  
  @media (min-width: 768px) {
    .menu-lunch span {
      font-size: 1.5rem;
    }
  }
  .menu-cakes {
    padding: 20px;
    outline: 3px solid rgb(65, 82, 91);
    outline-offset: -8px;
    order: 2;
    /* Маргин для восьмидюймовых тортиков*/
    .cakes-8-inch {
        margin-left: 30px;
    }
  }
  .menu-coffee {
    padding: 20px;
    outline: 3px solid rgb(65, 82, 91);
    outline-offset: -8px;
    order: 3;

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 15px;
        }
    }
  }
  .coffee-font {
    font-size: 1rem;
    font-weight: 700;
  }
  .menu-bread {
    padding: 20px;
    outline: 3px solid rgb(65, 82, 91);
    outline-offset: -8px;
    order: 5;
    position: relative;

    span {
        position: absolute;
        top: 20px;
        right: 30px;
        letter-spacing: -0.6px;
        opacity: 0.8;
        text-decoration: underline;
        font-size: 1.2rem;
    }
    ul li {
        h4 {
            font-size: 1.1rem;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }
  }
  @media (min-width: 768px) {
    .menu-bread span {
      font-size: 1.5rem;
    }
  }
  
  .menu-pies {
    padding: 20px;
    outline: 3px solid rgb(65, 82, 91);
    outline-offset: -8px;
    order: 6;

    .pies-large {
        margin-left: 30px;
    }
  }
  
  /*2 Картинки внизу главного блока*/
  
  .interior-bottom-left {
    width: 100%;
    min-height: 350px;
    background: url('img/interior2.jpg') no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 10px;
  }
  .interior-bottom-right {
    width: 100%;
    min-height: 350px;
    background: url('img/bottombread.png') no-repeat 50% 50%;
    background-size: contain;
  }
  @media (min-width: 768px) {
    .interior-bottom-left{
      width: 40%;
      margin-bottom: 0;
      margin-right: 20px;
    }
    .interior-bottom-right {
      width: 40%;
      margin-left: 20px;
    }
  }
  
  /*Футер: Карта и "контакты"
  * Карта cработатывает раз в день, потому что платить гуглу за апи я не очень хочу. :)
  */
  
  .map-and-contacts {
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*flex-direction: row; для 1000+*/
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .map-container {
    padding: 10px;
    height: 400px;
    width: 100%;
    background-color: grey;
    margin-bottom: 10px;
  }
  .contacts {
    width: 100%;
    padding: 15px;
    min-height: 200px;
    font-size: 1.5rem;
    text-indent: 20px;
    color: rgb(245, 239, 223);
    font-family: 'Shadows Into Light', cursive;
    outline: 3px solid rgb(245, 239, 223);
    outline-offset: -8px;
    background-color: rgb(65, 82, 91);
    position: relative;

    span {
        display: block;
        text-decoration: underline;
        position: absolute;
        bottom: 10px;
        right: 40px;
    }

    .footer-address {
      text-indent: 0;
      padding: 0px 20px;
      position: relative;

      .social-container {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
  @media (min-width: 1330px) {
    .map-and-contacts {
      flex-direction: row;
      background-color: rgb(65, 82, 91);
    }
    .map-container {
      width: 50%;
      margin-right: 20px;
    }
    .contacts {
      width: 50%;
      margin-left: 20px;
      background-color: transparent;
    }
  }
  