
body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  line-height: 1.25;
  background-color: #e8e8e8;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 239, 223);
  color: rgb(65, 82, 91);
}
a {
  text-decoration: none;
  color: rgb(245, 239, 223);
}
a:active {
  color: rgb(210, 199, 171);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}

.page-header {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  background: url('img/loafs.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
/*Выпадающее меню и анимация гиперссылок*/
.navigation {
  width: 200px;
  height: 400px;
  background-color: rgb(65, 82, 91);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: -350px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.4s ease-out;
}
#nav.visible {
  top: 0;
}
.navigation-list li {
  font-size: 2rem;
  margin-top: 20px;
  position: relative;
  font-family: 'Shadows Into Light', cursive;
}
.navigation-list li:first-child a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65px;
  top: 55px;
  right: 20px;
  background-color: rgb(245, 239, 223);
  opacity: 0;
  transition: 0.4s ease;
  transition-property: opacity, top;
}
.navigation-list li:first-child a:hover::after {
  opacity: 0.9;
  top: 35px;
}
.navigation-list li:nth-child(2) a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  top: 55px;
  right: 14px;
  background-color: rgb(245, 239, 223);
  opacity: 0;
  transition: 0.4s ease;
  transition-property: opacity, top;
}
.navigation-list li:nth-child(2) a:hover::after {
  opacity: 0.9;
  top: 35px;
}
.navigation-list li:last-child a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  top: 55px;
  right: 3px;
  background-color: rgb(245, 239, 223);
  opacity: 0;
  transition: 0.4s ease;
  transition-property: opacity, top;
}
.navigation-list li:last-child a:hover::after {
  opacity: 0.9;
  top: 35px;
}
.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;

}
.social-instagram {
  background: url('img/Logo/instagram.png') no-repeat 50% 50%;
  background-size: contain;
}
.social-twitter {
  background: url('img/Logo/twitter.png') no-repeat 50% 50%;
  background-size: contain;
}
.social-facebook {
  background: url('img/Logo/facebook.png') no-repeat 50% 50%;
  background-size: contain;
}
#sliderButton {
  margin-bottom: -20px;
  width: 40px;
  height: 40px;
  background-color: white;
  background: url('img/Logo/down-arrow.png') no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  transition: 0.4s ease-out;
}
#sliderButton.reversed {
  transform: rotate(180deg);
}

.bakery-name {
  color: rgb(245, 239, 223);
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
}

/*Основной контент сайта*/

.main-wrapper {
  width: 70%;
}
.quote-container {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
.quote-container p:first-child {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
}

.quote-container p:last-child {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  margin: 0 auto;
}
.interior-container {
  min-height: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
}
.interior-left {
  min-width: 35%;
  min-height: 350px;
  background: url('img/interior1.jpg') no-repeat 50% 50%;
  background-size: contain;
  margin-right: 20px;
}
.interior-right {
  min-width: 35%;
  min-height: 350px;
  background: url('img/pretty-bread.jpg') no-repeat 50% 50%;
  background-size: contain;
  margin-left: 20px;
}
.menu-container {
  height: 1600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.menu-container h3 {
  font-family: 'Shadows Into Light', cursive;
}
.menu-container h4 {
  margin-bottom: -15px;
}
.menu {
  min-width: 30%;
  width: 50%;
}
.menu-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  outline: 3px solid rgb(245, 239, 223);
  outline-offset: -8px;
  margin-bottom: 50px;
  background-color: rgb(65, 82, 91);
}
.menu-sign-label {
  color: rgb(245, 239, 223);
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  text-decoration: underline;
}
.menu-breakfast {
  position: relative;
  padding: 20px;
  outline: 3px solid rgb(65, 82, 91);
  outline-offset: -8px;
  order: 1;
}
.menu-breakfast span {
  position: absolute;
  top: 20px;
  right: 30px;
  letter-spacing: -0.6px;
  opacity: 0.8;
  text-decoration: underline;
}
.menu-lunch {
  position: relative;
  padding: 20px;
  outline: 3px solid rgb(65, 82, 91);
  outline-offset: -8px;
  order: 4;
}
.menu-lunch span {
  position: absolute;
  top: 20px;
  right: 30px;
  letter-spacing: -0.6px;
  opacity: 0.8;
  text-decoration: underline;
}
.menu-cakes {
  padding: 20px;
  outline: 3px solid rgb(65, 82, 91);
  outline-offset: -8px;
  order: 2;
}
.menu-cakes .cakes-8-inch {
  margin-left: 30px;
}
.menu-coffee {
  padding: 20px;
  outline: 3px solid rgb(65, 82, 91);
  outline-offset: -8px;
  order: 3;
}
.menu-coffee li {
  margin-bottom: 10px;
}
.menu-coffee li:last-child {
  margin-bottom: 15px;
}
.coffee-font {
  font-size: 1rem;
  font-weight: 700;
}
.menu-bread {
  padding: 20px;
  outline: 3px solid rgb(65, 82, 91);
  outline-offset: -8px;
  order: 5;
  position: relative;
}
.menu-bread span {
  position: absolute;
  top: 20px;
  right: 30px;
  letter-spacing: -0.6px;
  opacity: 0.8;
  text-decoration: underline;
}
.menu-bread ul li h4 {
  font-size: 1.1rem;
}
.menu-bread ul li:last-child {
  margin-bottom: 30px;
}
.menu-pies {
  padding: 20px;
  outline: 3px solid rgb(65, 82, 91);
  outline-offset: -8px;
  order: 6;
}
.menu-pies .pies-large {
  margin-left: 30px;
}
.interior-bottom-left {
  min-width: 35%;
  min-height: 350px;
  background: url('img/interior2.jpg') no-repeat 50% 50%;
  background-size: contain;
  margin-right: 20px;
}
.interior-bottom-right {
  min-width: 35%;
  min-height: 350px;
  background: url('img/bottombread.png') no-repeat 50% 50%;
  background-size: contain;
  margin-left: 20px;
}


/*Футер: Карта и "контакты"*/
.map-and-contacts {
  min-height: 300px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.map-container {
  padding: 10px;
  height: 400px;
  width: 50%;
  background-color: grey;
}
.contacts {
  margin-left: 20px;
  width: 50%;
  padding: 15px;
  min-height: 200px;
  font-size: 1.5rem;
  text-indent: 20px;
  color: rgb(245, 239, 223);
  font-family: 'Shadows Into Light', cursive;
  outline: 3px solid rgb(245, 239, 223);
  outline-offset: -8px;
  background-color: rgb(65, 82, 91)
}
